#main-review{
    padding-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #container{
    width: 200px;
    height: 100px;
  }
  
  #img{
    text-align: center;
    padding-bottom: 50px;
  }
  
  span{
    display: inline-block;
    margin: 10px;
  }
  
  input {
    height: 20px;
    border-style: black;
  }