.trip-list-title {
    margin-bottom: 25px;
    font-weight: 200;
    font-size: 25px;
}

#new-trip {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 15px;
    padding-left: 15px;
    width: 81px;
}

.trip-list-name {
    color: rgba(0, 0, 0, 0.753);
    font-weight: 400;
    padding-left: 0;
}

.trip-details-link {
    font-size: 12px;
}

@media only screen and (min-width: 768px) {
    .trip-list-title {
        margin: 55px 0;
        font-weight: 200;
        font-size: 30px;
    }
}
