#signup{
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#container{
    width: 100px;
    height: 100px;
}
  
#start{
    text-align: center;
    background-color: rgb(170, 168, 168);
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
input {
    height: 20px;
    border-style: black;
}

.allSignup{
    margin: 5px;
}

#signup-btn{
    width: 93%;
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 3px 0;
    background-color: white;
}

#login-link{
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    padding: 3px 3px;
    background-color: white;
}

#signup-title{
    margin-bottom: 15px;
    font-weight: 300;
}
