#signup{
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#container{
    width: 100px;
    height: 100px;
}
  
#start{
    text-align: center;
    background-color: rgb(170, 168, 168);
    position: fixed;
    bottom: 0;
    width: 100%;
}
  
input {
    height: 20px;
    border-style: black;
}