#signup {
    padding-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 100px;
    height: 100px;
}

#start {
    text-align: center;
    background-color: rgb(170, 168, 168);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.allSignup {
    margin: 5px 0 15px;
    width: 150px;
}

#signup-submit {
    width: 100%;
    padding: 3px 0;
}

#login-link {
    margin-top: 20px;
    padding: 3px 3px;
}

#signup-title {
    margin-bottom: 15px;
    font-weight: 300;
}

.signup-label {
    font-weight: 300;
}
