#main-landing{
    margin-top: 40px;
    padding: 20px;
    background-image: url('../images/SantoriniGreeceTall.jpg'); 
    background-size: cover;
    height: 100vh;
}
/* media query laptop screen, switch url image to SantoriniGreece */
  
#landing-start{
    background-color: white; 
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.landing-links{
    color: black;
    text-decoration: none;
}

.landing-main-text{
    padding: 5px;
}