#login{
    padding-top: 140px;
    display: flex;
    justify-content: center;
}
  
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
input {
    height: 20px;
    border: grey 1px solid;
    border-radius: 4px;
    padding-left: 5px;
}

.allItems{
    margin: 5px 0 15px;
    width: 130px;
}

#login-title{
    font-weight: 300;
    margin-bottom: 15px;
}

#login-btn{
    width: 100%;
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 3px 0;
    background-color: white;
}

#signup-link{
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    padding: 3px 3px;
    background-color: white;
    width: 53px
}

.error{
    color: red; 
    font-size: 14px;
    width: 210px;
    margin-bottom: 5px;
    margin-top: 5px;
}