#login{
    padding-top: 140px;
    display: flex;
    justify-content: center;
}
  
#container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
input {
    height: 20px;
    border-style: black;
}

.allItems{
    margin: 5px;
}

#login-btn{
    width: 93%;
}

#signup-link{
    color: black;
}

.error{
    color: red; 
    font-size: 14px;
    width: 210px;
    margin-bottom: 5px;
    margin-top: 5px;
}