.each-result {
    display: flex;
    padding: 10px 0;
    border-top: 1px solid darkgray;
    width: 100%;
}

.results-image {
    width: 100px;
    height: 80px;
    margin: 10px 20px 0 0;
    border-radius: 4px;
}

.search-comments {
    font-size: 12px;
    padding: 6px;
}

.review-details {
    font-size: 12px;
}

#empty-results-error {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 12px;
    color: red;
}

.results-trip-name {
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
}

@media only screen and (min-width: 750px) {
    .results-content {
        width: 350px;
    }
}

@media only screen and (min-width: 900px) {
    .results-image {
        width: 200px;
        height: 150px;
    }

    .results-content {
        margin-top: 15px;
    }
}
