.each-result{
    display: flex;
    /* justify-content: space-between; */
    padding: 10px 0;
    border-bottom: 1px solid darkgray;
}

.results-image{
    width: 100px;
    height: 80px;
    margin: 10px 20px 0 0;
}

.search-comments{
    font-size: 10px;
    padding: 6px;
}