#main-search {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-title {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.836);
    border-radius: 4px;
    font-weight: 300;
    margin-bottom: 15px;
}

#search-btn {
    width: 100%;
    font-size: 18px;
}

#search {
    margin-bottom: 10px;
    padding: 4px;
    border-radius: 4px;
    border: grey 1px solid;
}

.searchTypes {
    margin-bottom: 30px;
    border-radius: 4px;
    border: grey 1px solid;
    width: 100%;
}

#results-cont {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 550px;
    margin: 0 auto;
}

#results-title {
    padding-top: 20px;
    font-weight: 500;
}

@media only screen and (min-width: 768px) {
    #search-title {
        font-size: 28px;
        margin-left: 0;
    }

    #results-title {
        padding-top: 20px;
        font-size: 28px;
        font-weight: 300;
    }

    #results-cont {
        box-shadow: none;
        padding: 30px;
    }
}
