.review-list-title {
    margin-bottom: 25px;
    font-weight: 200;
    font-size: 25px;
}

.new-review {
    margin-top: 10px;
    margin-left: 35px;
    width: 75px;
}

.success {
    color: blue;
    font-size: 14px;
    width: 210px;
    margin-bottom: 10px;
}

.review-list {
    color: rgba(0, 0, 0, 0.753);
    font-weight: 400;
    padding-left: 0;
}

.review-list-link {
    font-size: 12px;
}

.review-delete {
    padding: 3px 5px;
    margin: 5px 0;
    margin-bottom: 15px;
    width: 49px;
}

@media only screen and (min-width: 768px) {
    .review-list-title {
        margin: 55px 0;
        font-weight: 200;
        font-size: 30px;
    }
}
