#main-trip{
    padding-top: 60px;
    padding-left: 40px;
    /* display: flex;
    justify-content: center; */
}
  
#img{
    text-align: center;
    padding-bottom: 50px;
}
  
span{
    display: inline-block;
    margin: 10px;
}

#day-cont{
    border: solid black 1px;
    width: 60vw;
    margin-top: 20px;
}
  
input {
    height: 20px;
    border-style: black;
}