#main-trip{
    padding-top: 60px;
    display: flex;
    justify-content: center;
}
  
#img{
    text-align: center;
    padding-bottom: 50px;
}
  
span{
    display: inline-block;
    margin: 10px;
}

#day-cont{
    border: grey 1px solid;
    border-radius: 4px;
    width: 60vw;
    margin-top: 20px;
    padding: 10px;
}
  
input {
    height: 20px;
    border-style: black;
}

.new-trip-btns{
    margin: 0 0 10px 10px;
    padding: 3px;
}

#trip-details-activity{
    width: 145px;
}

.start_time{
    font-size: 14px;
    font-weight: 700;
}

.back-to-trip-list{
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 3px 5px;
    margin: 5px 0;
    margin-bottom: 15px;
    width: 39px;
}

.add-day{
    background-color: white;
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    padding: 3px 5px;
    margin: 5px 0;
    margin-bottom: 15px;
    width: 100%;
}

.add-activity{
    background-color: white;
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 3px 5px;
    margin: 5px 0;
    margin-top: 15px;
    width: 81px;
}

.edit-btn{
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 1px 4px;
    margin: 5px 0;
    width: 32px;
}

#back-to-trip-details{
    color: rgba(0, 0, 0, 0.836);
    border: grey 1px solid;
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    padding: 1px 4px;
    margin: 5px 0;
    width: 50px;
}

.activity{
    font-weight: 300;
}

.trip-name{
    margin-top: 15px;
    font-weight: 300;
    font-size: 16px;
}
.trip-details{
    font-weight: 500;
    font-size: 14px;
}

.edit-add-activity-box{
    padding: 8px;
    margin-top: 5px;
}

@media only screen and (min-width: 768px){
    .trip-name{
        font-size: 24px;
    }
    .trip-details{
        font-size: 16px;
    }
}