nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(170, 168, 168);  */
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    padding: 0 10px 0 10px;
}

.nav-link{
    padding: 3px;
    color: black;
    text-decoration: none;
    display: block;
}

#nav-hide{
    display: none;
}

#nav-show{
    display: initial;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 80px;
    height: 123px;
    padding-left: 10px;
}

#nav-bars{
    color: black;
}

#nav-show{
    position: fixed;
    top: 40px;
    right: 0px;
}